.portfolio {
	background: #fff;
	padding: 80px 0;
	.item {
		// @if $rtl {
		// 	float: right;
		// }
	}
	.portfolio-item {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 260px;
		width: 100%;
		display: table;
		overflow: hidden;
		margin-bottom: 30px;
		.details {
			height: 260px;
			background: #fff;
			display: table-cell;
			vertical-align: middle;
			opacity: 0;
			transition: 0.3s;
			text-align: center;
			h4 {
				font-size: 16px;
				transition: opacity 0.3s, -webkit-transform 0.3s;
				transition: transform 0.3s, opacity 0.3s;
				transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				-webkit-transform: translate3d(0, -15px, 0);
				transform: translate3d(0, -15px, 0);
				font-weight: 700;
				color: $color_8;
			}
			span {
				display: block;
				color: $color_7;
				font-size: 13px;
				transition: opacity 0.3s, -webkit-transform 0.3s;
				transition: transform 0.3s, opacity 0.3s;
				transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				-webkit-transform: translate3d(0, 15px, 0);
				transform: translate3d(0, 15px, 0);
			}
		}
		&:hover {
			.details {
				opacity: 0.8;
				h4 {
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
				span {
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}
