.aboutus {
	padding-top: 50px;
}
.section-title {
	text-align: center;
}
.section-description {
	text-align: center;
	margin-bottom: 40px;
}
.section-title-divider {
	width: 50px;
	height: 3px;
	background: #03C4EB;
	margin: 0 auto;
	margin-bottom: 20px;
}
.about-img {
	background-size: cover;
	height: 400px;
	max-height: 100%;
}
.about-title {
}
.about-text {
}
