.jumb {
	margin: 0;
	display: table;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	text-align: center;
	.home-container {
		background: rgba(0, 0, 0, 0.8);
		display: table-cell;
		margin: 0;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
	h1 {
		margin: 30px 0 10px 0;
	}
	h2 {
		margin-bottom: 50px;
		animation: fadein 2s;
	}
	.actions {
		a {
			display: inline-block;
			padding: 8px 20px;
			margin: 10px;
		}
	}
	.btn-get-started {
		// border: 2px solid #03C4EB;
		&:hover {
		}
	}
}
.btn-services {
	// border: 2px solid #fff;
	&:hover {
	}
}
