@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"); }

@keyframes "fadein" {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0;
  padding: 0; }

a {
  color: #03C4EB;
  transition: 0.5s; }
  a:hover {
    color: #03c5ec;
    outline: none;
    text-decoration: none; }
  a:active {
    color: #03c5ec;
    outline: none;
    text-decoration: none; }
  a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none; }

p {
  padding: 0;
  margin: 0 0 30px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

.jumbotron {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: table;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  text-align: center; }
  .jumbotron .home-container {
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%; }
  .jumbotron h1 {
    margin: 30px 0 10px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff; }
  .jumbotron h2 {
    color: #999;
    margin-bottom: 50px;
    animation: fadein 2s; }
  .jumbotron .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px; }
  .jumbotron .btn-get-started {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff; }
    .jumbotron .btn-get-started:hover {
      background: none;
      border: 2px solid #fff;
      color: #fff; }

.btn-services {
  border: 2px solid #fff;
  color: #fff; }
  .btn-services:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff; }

    nav.navbar.navbar-default {
    	background: #000;
    	border: none;
    	border-radius: 0;
    	margin: 0;
    	height: 100px;
      text-align: right;
    }
    nav {
    	.navbar-header {
    		// @if $rtl {
    		// 	float: right;
    		// }
    	}
    	img {
    		height: 50px;
    		margin-top: 0;
        float: right;
    	}
    }
    nav ul {
    	width: 70%;
    	>li {
    		display: inline-block;
    		width: 15%;
    		color: #fff;
    		// @if $rtl {
    		// 	float: right;
    		// }
    		>a {
    			padding-top: 30px;
    			font-family: $Raleway;
    			font-weight: 300;
    			font-size: 14px;
    		}
    	}
    	// @if $rtl {
    	// 	float: left !important;
    	// }
    }

    nav ul {
    	>li {
    		>a {
    			color: $color_3;
    			&:hover {
    				color: $color_1;
    			}
    		}
    	}
    }

    .nav-menu {
    	a {
    		&:hover {
    			color: $color_1;
    		}
    	}
    	li {
    		&:hover {
    			>a {
    				color: $color_1;
    			}
    		}
    	}
    	.menu-active {
    		>a {
    			color: $color_1;
    		}
    	}
    }
.aboutus {
  padding-top: 50px; }

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.section-description {
  text-align: center;
  margin-bottom: 40px; }

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px; }

.about-img {
  background-size: cover;
  height: 400px;
  max-height: 100%; }

.about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px; }

.about-text {
  line-height: 26px;
  color: #666666; }

.services {
  margin-top: 80px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://bootstrapmade.com/demo/themes/Imperial/img/services-bg.jpg) fixed center center;
  background-size: cover;
  padding: 40px 0 60px 0; }
  .services .service-item {
    margin-bottom: 20px;
    position: relative; }
    .services .service-item:hover .service-icon {
      background: #fff; }
      .services .service-item:hover .service-icon i {
        color: #03C4EB; }
  .services .service-icon {
    display: inline-block;
    float: left;
    background: #03C4EB;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #03C4EB;
    width: 60px;
    height: 60px;
    text-align: center; }
    .services .service-icon i {
      color: #fff;
      font-size: 24px; }
  .services .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase; }
    .services .service-title a {
      color: #111; }
  .services .service-description {
    word-wrap: break-word;
    margin-left: 80px;
    line-height: 24px;
    color: #666666;
    font-family: "Open Sans", sans-serif; }

.subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://bootstrapmade.com/demo/themes/Imperial/img/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0; }
  .subscribe .container .text {
    color: #fff; }
    .subscribe .container .text h2 {
      font-size: 28px;
      font-weight: 700; }
  .subscribe .container a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px; }
  .subscribe .container .btn {
    text-align: center;
    padding-top: 20px; }

.portfolio {
  background: #fff;
  padding: 80px 0; }
  .portfolio .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px; }
    .portfolio .portfolio-item .details {
      height: 260px;
      background: #fff;
      display: table-cell;
      vertical-align: middle;
      opacity: 0;
      transition: 0.3s;
      text-align: center; }
      .portfolio .portfolio-item .details h4 {
        font-size: 16px;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
        font-weight: 700;
        color: #333333; }
      .portfolio .portfolio-item .details span {
        display: block;
        color: #666666;
        font-size: 13px;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0); }
    .portfolio .portfolio-item:hover .details {
      opacity: 0.8; }
      .portfolio .portfolio-item:hover .details h4 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .portfolio .portfolio-item:hover .details span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }

.testimonials {
  background: #f6f6f6;
  padding: 80px 0; }
  .testimonials .client {
    text-align: center; }
    .testimonials .client .img {
      border-radius: 50%;
      border: 6px solid #fff;
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px;
      width: 260px; }
      .testimonials .client .img img {
        max-width: 100%; }
    .testimonials .client h4 {
      font-weight: 700;
      color: #03C4EB;
      margin-bottom: 5px; }
  .testimonials .profile h5 {
    color: #333333; }
  .testimonials .quote {
    position: relative;
    background: #fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    color: #666666; }
    .testimonials .quote b {
      display: inline-block;
      font-size: 22px;
      left: -9px;
      position: relative;
      top: -8px; }
    .testimonials .quote small {
      display: inline-block;
      right: -9px;
      position: relative;
      top: 4px; }

.testimonial:nth-child(even) .client {
  float: left; }

.testimonial:nth-child(even) .quote {
  float: right; }

.testimonial:nth-child(odd) .client {
  float: right; }

.testimonial:nth-child(odd) .quote {
  float: left; }

.ourTeam {
  background: #fff;
  padding: 80px 0 60px 0; }
  .ourTeam .member {
    text-align: center;
    margin-bottom: 20px; }
    .ourTeam .member .img {
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px; }
      .ourTeam .member .img img {
        max-height: 100%; }
    .ourTeam .member h4 {
      font-weight: 700;
      margin-bottom: 2px; }
    .ourTeam .member h5 {
      font-style: italic;
      display: block;
      font-size: 13px; }
    .ourTeam .member .social {
      margin-top: 15px; }
      .ourTeam .member .social a {
        color: #b3b3b3; }
        .ourTeam .member .social a:hover {
          color: #03C4EB; }
      .ourTeam .member .social i {
        font-size: 18px;
        margin: 0 2px; }

.contactUs {
  background: #f7f7f7;
  padding: 80px 0; }
  .contactUs .info {
    color: #333333; }
    .contactUs .info i {
      font-size: 32px;
      color: #03C4EB;
      float: left; }
    .contactUs .info p {
      padding: 0 0 10px 50px;
      line-height: 24px; }
  .contactUs .form #sendmessage {
    color: #03C4EB;
    border: 1px solid #03C4EB;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px; }
  .contactUs .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px; }
  .contactUs .form #sendmessage.show {
    display: block; }
  .contactUs .form #errormessage.show {
    display: block; }
  .contactUs .form .show {
    display: block; }
  .contactUs .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px; }
  .contactUs .form input {
    border-radius: 0;
    box-shadow: none; }
  .contactUs .form textarea {
    border-radius: 0;
    box-shadow: none; }
  .contactUs .form button[type="submit"] {
    background: #03C4EB;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s; }
    .contactUs .form button[type="submit"]:hover {
      background: #25d8fc; }

.footer {
  background: #111;
  padding: 30px 0;
  color: #fff; }
  .footer .copyright {
    text-align: center; }
  .footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc; }
